{% extends 'base.html' %}
{% block content %}
<!-- <center> -->
    
        <div class="row row-cols-1 row-cols-md-3 g-4">
         {% if searched %}
        
        <!-- <div class="container">
            <section class="mx-auto my-5" style="max-width: 23rem;">
                
              <div class="card testimonial-card mt-2 mb-3">
                <div class="card-up aqua-gradient"></div>
                <div class="avatar mx-auto white">
                  <img src="{{user.profile.profile_pic.url}}" class="rounded-circle img-fluid"
                    alt="img">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title font-weight-bold">{{user}}</h4>
                  <hr>
                  <p><i class="fas fa-quote-left"></i><a href="{{user.pofile.fb_url}}">Facebook</p>
                </div>
              </div>
              
            </section>
          </div> -->
          <div class="row row-cols-4 row-cols-md-3 g-4">
            {% for user in users%}
                <div class="card" style="width:fit-content;">
                    {% if user.profile.profile_pic %}
                <img src="{{user.profile.profile_pic.url}}" class="img-thumbnail" alt="img" style="width: 15vw;height: 15vw;object-fit: cover;" >
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'profile' user.id %}">{{user}}</a></h5>
                  <p>{% if user.profile.verified %} <p class="text-success">(verified)</p> {% endif %}</p>
                  <p class="card-text"><a href="{{user.pofile.fb_url}}">Facebook</a>  |  <a href="{{user.pofile.insta_url}}">Instagram</a></p>
                </div>
              </div>
              {% endfor %}
            </div>
            
        </div>
            <!-- {{user}} - {{user.fb_url}} -->
        
    {% endif %}
<!-- </center> -->

{% endblock content %} 