{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<head></head>
<body>
<form method="POST" enctype="multipart/form-data" action="/upload">
<div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="submit">Upload</button>
  </div>
  <!-- {{ ProfileForm }} -->
  <!-- <input type="submit" value="save"> -->
</form>
<!-- {{update}} -->
</body>
{% endblock content %} 